<% if current_user.profile.nil? %>

  <ul>
    <button> <%= link_to "Create Profile", new_profile_path %> </button>
  </ul>

<% else %>
  
  Display Profile

  <div class="row">
    <%= render partial: "shared/profile", locals: { profile: @user.profile} %>
  </div>
  
<% end %>